<!--The content below is only a placeholder and can be replaced.-->
<div class="carouselCon">
  <div class="carousel" id="carousel">
    <ul class="carousel-indicators">
      <li *ngFor="let item of items; let itemIndex = index" [ngClass]="{'active': item.current}" 
        (click)="changeImg(itemIndex)" >
      </li>
    </ul>
    <div class="carousel-inner" >
      <div class="carousel-item" *ngFor="let item of items; let itemIndex = index" [ngClass]="{'active': item.current}">
        <img [src]="item.imgUrl" >
      </div>
      <a href="javascript:void(0);" class="carousel-control-prev" (click)="changeImg(currentSlide - 1)">
        <span class="fa fa-angle-left"></span>
      </a>
      <a href="javascript:void(0);" class="carousel-control-next" (click)="changeImg(currentSlide + 1)">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>